 body {
  color: navy;
  background-color: Bisque;
  margin-left: 20px;
  font-family: Georgia, Helvetica, sans-serif;
}

a {
  font-family: "Garamond", "Courier New", monospace;
}

 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: navy;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

#vjezbe p {
	font-style: italic;
}